.el-select-dropdown__item.selected{color: #09c!important;}

/* 按钮样式 */
.el-button--primary{background: #09c;border-color: #09c;}/*#E6E6E6*/
.el-button--primary:hover{background: #28B5D6;border-color: #28B5D6;}
.el-button--primary:focus{background: #09c;border-color: #09c;}
.el-button--default:hover{
  background: #E6E6E6;
  border-color: #E6E6E6;
  color: #606266;
}
.el-button--default:focus{
  background: white;
  border-color: #dcdfe6;
  color: #606266;
}
.el-input__inner {
  height: 32px;
  line-height: 32px;
  border-radius: 0;
}

.el-button {
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 12px;
}
.el-input-number{
  height: 30px;
  line-height: 30px;
}
.el-button+.el-button{
  margin-left: 6px;
}
.el-form-item {
  margin-bottom: 15px;
}
.el-form-item .el-form-item__label{
  font-size: 12px;
}
.el-form-item__error{
  padding-top: 0;
}
.el-input.is-disabled .el-input__inner{
  color: #606266;
}

input{
  font-family: Microsoft YaHei;
}
.el-date-editor .el-range-separator {
  padding: 0;
  line-height: 30px;
  height: 30px;
}

.el-range-editor.el-input__inner{
  padding: 0;
}

.el-input__inner::-webkit-input-placeholder{
  color:#666;
  font-family: Microsoft YaHei;
}

.el-date-editor .el-range__icon{
  margin-left: 0;
}

.el-input__inner::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#666;
  font-family: Microsoft YaHei;
}
.el-input__inner:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#666;
  font-family: Microsoft YaHei;
}
.el-input__inner:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#666;
  font-family: Microsoft YaHei;
}

/* 弹窗样式 */
.el-dialog{
  width: 562px;
  /*max-height: 569px;*/
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -51%);
  z-index: 2010;
}
.el-dialog__body{
  overflow: auto;
  height: auto;
  padding: 30px 30px 30px 16px;
  box-sizing: border-box;

}
.el-dialog__body{

}
.el-dialog__footer{

}
.el-dialog__title{font-size: 14px;}
.el-dialog__headerbtn{top: 15px;right: 15px;}
.el-dialog__header{
  border-bottom: 1px solid #DCDFE6;
  padding: 10px 0 8px 20px;
  box-sizing: border-box;
}
.el-dialog .el-input__inner{
  height: 32px;
  line-height: 32px;
}

/* tree样式 */
.el-icon-caret-right:before{font-size: 22px;}

/* el-menu */
.el-menu .el-menu-item{
  font-size: 12px;
}
.el-menu .el-submenu__title{
  font-size: 12px;
}
.el-menu .el-submenu .el-menu-item{
  min-width: 100px;
}
.el-menu .el-menu-item, .el-submenu__title{
  height: 40px;
  line-height: 40px;
}
.el-menu .el-menu-item-group__title{
  padding: 0;
}
/* el-tree */
.el-tree-node__content{
  height: 30px;
}
.el-tree .el-tree-node__label{
  font-size: 12px;
}
.el-input__icon{
  height: 32px;
  line-height: 32px;
}

.el-select{
  width: 100%;
}
